@import './vars.css';

@font-face {
  font-family: 'Bitum';
  src: url('../fonts/Bitum-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Bitum';
  src: url('../fonts/Bitum-light.woff') format('woff');
  font-weight: 300; 
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



body {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: var(--black);
  min-height: 100vh;
}


.reserved {
  min-height: 100vh;
  padding: 10px;
  background: url('../img/bg.png') center / cover no-repeat;
  display: flex;
  flex-direction: column;
  gap: 40px;

  & .form-content {
    max-width: 800px;
    width: 100%;
    background-color: var(--white);
    margin: 0 auto;
    padding: 40px;
    position: relative;
    .close {
      background: url('../img/close.svg') no-repeat;
      width: 32px;
      height: 32px;
      background-size: cover;
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;
    }
    .title {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 48px;
      line-height: 110%;
      letter-spacing: -0.06em;
      color: var(--blue);
      margin-top: 10px;
      margin-bottom: 54px;
    }

  }

  & .form {
    position: relative;
    & .form-step {
      display: none;
      &.active {
        display: block;
      }
    }
    p {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: clamp(16px, 2vw, 20px);
      line-height: 110%;
      letter-spacing: -0.06em;
      color: var(--blue);
      margin-bottom: 39px;
    }
    & .form-block {
      margin-bottom: clamp(20px, 2vw, 39px);
      position: relative;
      &:has(.error-input) {
        &:before {
          content: 'Не все поля заполнены!';
          position: absolute;
          right: 0;
          top: 0;
          font-size: 12px;
          color: var(--white);
          background-color: red;
          padding: 5px;
        }
      }
    }
    & .flex-column {
      display: flex;
      flex-direction: column;
      gap: 22px;
    }

    & .flex-row {
      gap: clamp(16px, 2vw, 32px);
      display: grid;
      grid-template-columns: 1fr 1fr;
      & .input {
        width: 100%;
      }
    }

    & .input {
      border: none;
      border-bottom: 1px solid var(--blue);
      padding: 8px 9px;
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      letter-spacing: -0.02em;
      color: var(--blue);
      outline: none;
      transition: .3s ease;
      border-radius: 0;
      &:focus {
        opacity: 1;
      }
    }

    & .input-date, .input-time {
      font-size: 24px;
    }

    
    & .input::placeholder {
      opacity: .6;
      color: var(--blue)
    }

    & .input:focus {
      opacity: 1;
    }

    & .form-tariff {

      & .form-tariff-nav {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        border: 1px solid var(--blue);
        border-radius: 100px;
        overflow: hidden;
        
      }
  
      & .form-tariff-btn {
           flex: 1 1 auto;
           display: flex;
           justify-content: center;
           align-items: center;
           border-radius: 100px;
           border: none;
           background-color: transparent;
           color: var(--blue);
           cursor: pointer;
           transition: .3s ease;
           padding: 7px;
  
           &.active {
            background-color: var(--blue);
            color: var(--white);
           }
  
           @media(any-hover: hover) {
            &:hover {
              background-color: var(--blue);
              color: var(--white);
            }
           }
      }

      & .form-tariff-tab {
        display: none;

        &.active {
          display: block;
        }
      }

      & .form-tariff-tab-row {
        display: flex;
        align-items: center;
        gap: clamp(18px, 2vw, 28px);
        padding-top: 23px;
        &:not(:last-child) {
          border-bottom: 1px solid var(--blue);
          padding-bottom: 23px;
        }
        & .left {
          flex: 1 1 auto;
          font-family: var(--font-family);
          font-weight: 400;
          font-size: 24px;
          line-height: 120%;
          letter-spacing: -0.02em;
          color: var(--blue);

          span {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            letter-spacing: -0.02em;
            color: var(--blue);
            opacity: .6;
            display: block;
          }
        }

        & .price {
          font-family: var(--font-family);
          font-weight: 400;
          font-size: 24px;
          line-height: 120%;
          letter-spacing: -0.02em;
          color: var(--blue);
        }
        & .counter {
          display: flex;
          align-items: center;
          gap: 4px;
          border: 1px solid var(--blue);
          border-radius: 100px;
          padding: 5px 10px;
          & .counter-num {
            font-family: var(--font-family);
            font-weight: 300;
            font-size: 24px;
            line-height: 120%;
            letter-spacing: -0.02em;
            text-align: center;
            color: var(--blue);
            min-width: 30px;
            &::selection {
              background-color: transparent;
            }
          }
          & .counter-btn {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 24px;
            line-height: 120%;
            letter-spacing: -0.02em;
            text-align: center;
            color: var(--blue);
            cursor: pointer;
            display: flex;

            svg {
              pointer-events: none;
            }
          }
        }
      }
    }
  }

  & .form-bottom {
    display: grid;
    gap: 16px;
  }

  & .form-policy {
    display: grid;
    grid-template-columns: 16px 1fr;
    align-items: flex-start;
    gap: 5px;

    & .checkbox {
      accent-color: var(--blue);
      transform: translateY(2px);
    }
    span {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: clamp(12px, 1vw, 16px);
      line-height: 120%;
      letter-spacing: -0.02em;
      color: var(--blue);

      a {
        color: #6bb5cd;
      }
    }
  }

  & .form-btn {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 90%;
    letter-spacing: -0.01em;
    color: #f9f6f6;
    border-radius: 100px;
    padding: 16px 24px;
    border: none;
    transition: opacity .2s ease;
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    margin-top: 16px;
    cursor: pointer;
    @media(any-hover: hover) {
      &:hover {
        opacity: .8;
      }
    }
  }
  
  /* accept info form */

  .form-step-top {
    display: flex;
    flex-direction: column;
    gap: clamp(22px, 3vw, 46px);
    padding-bottom: 24px;
    border-bottom: 1px solid var(--blue);
    margin-bottom: 32px;
  }

  .form-info {
    
    & .form-info-title {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 20px;
      line-height: 110%;
      letter-spacing: -0.06em;
      color: var(--blue);
      margin-bottom: clamp(16px, 2vw, 32px);
    }
    & .form-info-block {
      max-width: 430px;
      width: 100%;
      display: flex;
      flex-direction: column;
      
      gap: 14px;
    }
    & .form-info-text {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;

      /* fonts style */

      font-family: var(--font-family);
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      letter-spacing: -0.02em;
      color: var(--blue);
      
    }
  }

  & .form-total-block span {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 110%;
    letter-spacing: -0.06em;
    color: var(--blue);
  }

  & .form-actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: clamp(16px, 2vw, 32px);
    margin-top: 46px;

    & .form-back {
      background-color: transparent;
      color: var(--blue);
      border: 1px solid var(--blue);
    }
  }
  & .error-input {
    border-bottom: 1px solid red !important;
  }
}
